body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  overflow: hidden;
}

.pig {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
Cabeza
*/
.cubo-head {
  background-color: #fdbaa5;
  width: 200px;
  height: 200px;
  top: 400px;
  right: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateZ(100deg) rotateX(-140deg) rotateY(190deg);
  animation: moveHead 4s infinite linear;
}

.cara {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  text-align: center;
  line-height: 200px;
  font-size: 20px;
  background-color: #fdbaa5;
}

.cara-frontal {
  transform: translateZ(100px);
}

.cara-superior {
  transform: rotateX(90deg) translateZ(100px);
  position: absolute;
}

.cara-trasera {
  transform: rotateY(180deg) translateZ(100px);
}

.cara-inferior {
  transform: rotateX(-90deg) translateZ(100px);
}

.cara-izquierda {
  transform: rotateY(-90deg) translateZ(100px);
}

.cara-derecha {
  transform: rotateY(90deg) translateZ(100px);
}

.ojo-container-right {
  position: absolute;
  top: 0%;
  left: 50%;
}

.ojo-right {
  width: 25px;
  height: 50px;
  background-color: white;
}

.pupila-right {
  width: 25px;
  height: 25px;
  background-color: black;
  position: absolute;
  top: 0%;
  animation: moveEyeRight 5s infinite linear;
}

.ojo-container-left {
  position: absolute;
  top: 75%;
  left: 50%;
}

.ojo-left {
  width: 25px;
  height: 50px;
  background-color: white;
}

.pupila-left {
  width: 25px;
  height: 25px;
  background-color: black;
  position: absolute;
  top: 50%;
  animation: moveEyeLeft 5s infinite linear;
}

/* Boca*/
/* Boca*/
.cubo-mouth-outer {
  position: absolute;
  top: 90px; /* Ajustar según sea necesario para alinear con la parte superior del cubo de la cabeza */
  left: 30px; /* Ajustar según sea necesario */
  width: 100px; /* Ancho del cubo de la boca */
  height: 60px; /* Alto del cubo de la boca */
  transform-style: preserve-3d;
  transform-origin: top;
  transform: rotateZ(190deg) rotateX(-100deg) rotateY(100deg) translateZ(10px); /* Agrega una traslación en Z para que el cubo sobresalga */
}

.cubo-mouth {
  width: 100%;
  height: 100%;
  background-color: rgb(241, 197, 227); /* Color del cubo de la boca */
  transform-style: preserve-3d;
}

.cara-mouth {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(253, 186, 165);
  border: 1px solid #000;
  box-sizing: border-box;
}

.cara-mouth.cara-frontal {
  transform: translateZ(0px); /* Mueve la cara al centro del cubo */
}

.cara-mouth.cara-trasera {
  transform: rotateY(180deg) translateZ(0px); /* Mueve la cara al centro del cubo */
}

.cara-mouth.cara-superior {
  transform: rotateX(-90deg) translateZ(25px); /* Mueve la cara al centro del cubo */
}

.cara-mouth.cara-inferior {
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: rotateX(90deg) translateZ(25px); /* Mueve la cara al centro del cubo */
}

.cara-mouth.cara-izquierda {
  width: 60px;
  height: 40px;
  transform: rotateY(-90deg) translateZ(30px); /* Mueve la cara al centro del cubo */
}

.cara-mouth.cara-derecha {
  width: 60px;
  height: 40px;
  transform: rotateY(90deg) translateZ(70px); /* Mueve la cara al centro del cubo */
}

.pool1 {
  width: 20px;
  height: 20px;
  top: 20px;
  background-color: #f79d81;
  animation: movePool1 5s infinite linear;
}
/* 
 Cuerpo 
*/
.cubo-body {
  width: 200px;
  height: 200px;
  position: relative;
  top: 300px;
  left: -50px;
  z-index: -10;
  transform-style: preserve-3d;
  transform: rotateZ(100deg) rotateX(155deg) rotateY(170deg);
}

.cara-body {
  position: absolute;
  background-color: rgb(253, 186, 165);
  border: 1px solid #000;
}

.cara-body.cara-frontal {
  width: 200px; /* Ancho del cubo */
  height: 200px; /* Alto del cubo */
  transform: translateZ(250px); /* Profundidad del cubo */
}

.cara-body.cara-trasera {
  width: 200px; /* Ancho del cubo */
  height: 200px; /* Alto del cubo */
  transform: rotateY(180deg) translateZ(250px); /* Profundidad del cubo */
}

.cara-body.cara-inferior {
  width: 200px; /* Ancho del cubo */
  height: 500px; /* Profundidad del cubo */
  transform: rotateX(90deg) translateZ(250px); /* La mitad de la profundidad */
}

.cara-body.cara-superior {
  background-image: linear-gradient(to bottom, #fdbaa5, #fdbaa5);
  position: absolute;
  width: 200px; /* Ancho del cubo */
  height: 500px; /* Profundidad del cubo */
  transform: rotateX(-90deg) translateZ(-50px); /* La mitad de la profundidad */
}

.cara-body.cara-superior .line {
  position: absolute;
  background-color: #f79d81;
  width: 30px;
  height: 400px;
  bottom: 70px;
  right: 40px;
}
.cara-body.cara-superior .line2 {
  position: absolute;
  background-color: #f79d81;
  width: 30px;
  height: 200px;
  bottom: 180px;
  right: 90px;
}
.cara-body.cara-superior .line3 {
  position: absolute;
  background-color: #f79d81;
  width: 30px;
  height: 300px;
  bottom: 140px;
  right: 140px;
}

.cara-body.cara-izquierda {
  width: 500px; /* Ancho del cubo */
  height: 200px; /* Alto del cubo */
  transform: rotateY(-90deg) translateZ(250px); /* La mitad de la profundidad */
}

.cara-body.cara-derecha {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 500px; /* Ancho del cubo */
  height: 200px; /* Alto del cubo */
  transform: rotateY(90deg) translateZ(-50px); /* La mitad de la profundidad */
}
.cara-body.cara-derecha .line {
  background-color: #f79d81;
  width: 400px;
  height: 30px;
}
.cara-body.cara-derecha .line2 {
  background-color: #f79d81;
  width: 200px;
  height: 30px;
}
.cara-body.cara-derecha .line3 {
  background-color: #f79d81;
  width: 400px;
  height: 30px;
}

/*Pies 
 */

.cubo-foot-right {
  left: -150px;
  top: 220px;
  z-index: -20;
  width: 100px; /* Ancho del cubo */
  height: 200px; /* Alto del cubo */
  position: relative;
  transform-style: preserve-3d;
  transform: rotateZ(90deg) rotateX(-130deg) rotateY(80deg);
}
.cubo-foot-left {
  top: 40px;
  left: -80px;
  z-index: -20;
  width: 100px; /* Ancho del cubo */
  height: 200px; /* Alto del cubo */
  position: relative;
  transform-style: preserve-3d;
  transform: rotateZ(90deg) rotateX(-130deg) rotateY(80deg);
}
.cubo-foot-right-back {
  top: -180px;
  left: 100px;
  z-index: -20;
  width: 100px; /* Ancho del cubo */
  height: 200px; /* Alto del cubo */
  position: relative;
  transform-style: preserve-3d;
  transform: rotateZ(90deg) rotateX(-130deg) rotateY(80deg);
}
.cubo-foot-left-back {
  top: -400px;
  left: 10px;
  z-index: -30;
  width: 100px; /* Ancho del cubo */
  height: 200px; /* Alto del cubo */
  position: relative;
  transform-style: preserve-3d;
  transform: rotateZ(90deg) rotateX(-130deg) rotateY(80deg);
}
.cara-foot {
  background-color: rgb(253, 186, 165);
  position: absolute;
  width: 80px; /* Ancho del cubo */
  height: 200px; /* Alto del cubo */
  border: 1px solid #000;
}

.cara-foot.cara-frontal {
  height: 100px;
  transform: translateZ(100px);
}

.cara-foot.cara-trasera {
  height: 100px;
  transform: rotateY(180deg) translateZ(100px); /* Profundidad del cubo */
}

.cara-foot.cara-superior {
  transform: rotateX(90deg) translateZ(100px); /* La mitad de la profundidad */
}

.cara-foot.cara-inferior {
  transform: rotateX(-90deg) translateZ(-0px); /* La mitad de la profundidad */
}

.cara-foot.cara-izquierda {
  width: 200px;
  height: 100px;
  transform: rotateY(-90deg) translateZ(100px); /* La mitad de la profundidad */
}

.cara-foot.cara-derecha {
  width: 200px;
  height: 100px;
  transform: rotateY(90deg) translateZ(-20px); /* La mitad de la profundidad */
}

@keyframes moveHeada {
  0% {
    transform: rotateZ(90deg) rotateX(-130deg) rotateY(180deg);
  }
  50% {
    transform: rotateZ(92deg) rotateX(-132deg) rotateY(184deg);
  }
  100% {
    transform: rotateZ(90deg) rotateX(-130deg) rotateY(180deg);
  }
}

@keyframes movePool1 {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(5px);
  }
}

@keyframes moveEyeLeft {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes moveEyeRight {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}
