body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/1367192/pexels-photo-1367192.jpeg?auto=compress&cs=tinysrgb&w=1800");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 340px;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  gap: 1px;
  padding: 40px 10px;
  border-radius: 4px;
  background: inherit;
}

.container::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 400px;
  height: 400px;
  filter: blur(10px);
  background: inherit;
}

.container > * {
  z-index: 10;
}

.container-img {
  width: 180px;
  height: 180px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.container img {
  width: 200px;
  height: 200px;
  background-position: center;
  object-fit: cover;
  border-radius: 50%;
}

.container input {
  height: 15px;
  outline: none;
  border-color: transparent;
  padding: 6px;
  border-radius: 5px;
}

.container input::placeholder {
  color: #f8fafa;
}

.container input:focus {
  border: 3px solid #f8fafa;
}

.container h4 {
  text-align: center;
  color: aliceblue;
}

.container-input {
  display: flex;
  background-color: #f8fafa;
  border-radius: 5px;
  border-color: transparent;
}

.container button img {
  width: 10px;
  height: 10px;
  background-color: transparent;
}

.container button {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  border-left: 1px solid rgb(161, 156, 156);
  border-radius: 0 5px 5px 0;
}

.container button:hover {
  background-color: rgb(236, 234, 234);
  overflow: hidden;
}
