body {
  height: 100vh;
  background-size: cover;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.found {
  height: 100vh;
  background-image: url("https://cdns-images.dzcdn.net/images/cover/e4331f55c8bc6e778b7285b4e928b44c/264x264.jpg");
  background-size: cover;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.found::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  filter: blur(10px);
  opacity: 1;
  background: inherit;
  z-index: 1;
}

.container {
  height: 500px;
  width: 400px;
  background-size: contain;
  border-radius: 40px;
  background-image: inherit;
  position: relative;
  padding: 15px 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  filter: blur(10px);
  opacity: 1;
  background: inherit;
  z-index: 1;
}

.container .container-img {
  border-radius: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: inherit;
  height: 320px;
  width: 380px;
  z-index: 1;
}

.container .container-audio {
  width: 90%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: white;
}

.container .container-audio p {
  font-size: large;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.container-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
}

audio {
  background-color: transparent;
}
